 # [1] Exercise
 Use sklearn.datasets iris flower dataset to train your model using logistic regression. You need to figure out accuracy of your model and use that to predict different samples in your test dataset. In iris dataset there are 150 samples containing following features,

1. Sepal Length
2. Sepal Width
3. Petal Length
4. Petal Width

Using above 4 features you will clasify a flower in one of the three categories,

1. Setosa
2. Versicolour
3. Virginica

In [6]:
from sklearn.datasets import load_iris
iris = load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [32]:
iris.filename

'iris.csv'

In [7]:
x = iris.data
y = iris.target

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

model = LogisticRegression()
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model.fit(x_train, y_train)

LogisticRegression()

In [26]:
model.score(x_test, y_test)

0.9666666666666667

In [33]:
model.predict(x_test)

array([2, 0, 1, 2, 1, 1, 1, 2, 0, 1, 0, 1, 1, 2, 2, 1, 1, 0, 1, 2, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1])

In [34]:
y_test

array([2, 0, 1, 2, 1, 1, 1, 2, 0, 1, 0, 1, 1, 2, 2, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1])

In [ ]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(out_test,pre)
sns.heatmap(cm,annot=True)
plt.xlabel("actual")
plt.ylabel('predicted')

 # [2] Exercise
 Build decision tree model to predict survival based on certain parameters
 In this file using following columns build a model to predict if person would survive or not,
1. Pclass
2. Sex
3. Age
4. Fare

In [71]:
import pandas as pd

In [89]:
df = pd.read_csv("titanic.csv")
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [91]:
df = df[['Survived', "Pclass", "Sex", "Age", "Fare"]]
df.head(10)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500
5         0       3    male   NaN   8.4583
6         0       1    male  54.0  51.8625
7         0       3    male   2.0  21.0750
8         1       3  female  27.0  11.1333
9         1       2  female  14.0  30.0708

In [92]:
df.isna().values.any()

True

In [93]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [94]:
df.Age = df.Age.fillna(df.Age.mean())

In [95]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [96]:
from sklearn.preprocessing import LabelEncoder
model = LabelEncoder()

In [97]:
df.Sex = model.fit_transform(df.Sex)

In [98]:
df.head(10)

   Survived  Pclass  Sex        Age     Fare
0         0       3    1  22.000000   7.2500
1         1       1    0  38.000000  71.2833
2         1       3    0  26.000000   7.9250
3         1       1    0  35.000000  53.1000
4         0       3    1  35.000000   8.0500
5         0       3    1  29.699118   8.4583
6         0       1    1  54.000000  51.8625
7         0       3    1   2.000000  21.0750
8         1       3    0  27.000000  11.1333
9         1       2    0  14.000000  30.0708

In [99]:
x = df.drop('Survived', axis=1)
y = df[['Survived']]

In [108]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [109]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [110]:
model.score(x_test, y_test)

0.8156424581005587

 # [3] Exercise
 Use famous iris flower dataset from sklearn.datasets to predict flower species using random forest classifier.

1. Measure prediction score using default n_estimators (10)
2. Now fine tune your model by changing number of trees in your classifer and tell me what best score you can get using how many trees

In [1]:
from sklearn.datasets import load_iris
iris = load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [2]:
x = iris.data
y = iris.target

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [5]:
model = RandomForestClassifier(n_estimators=10)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=10)

In [8]:
print(model.score(x_test, y_test))
model.score(x_train, y_train)

1.0

1.0

In [11]:
model = RandomForestClassifier(n_estimators=20)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=20)

In [12]:
print(model.score(x_test, y_test))
model.score(x_train, y_train)

1.0

1.0

In [13]:
model = RandomForestClassifier(n_estimators=5)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=5)

In [14]:
print(model.score(x_test, y_test))
model.score(x_train, y_train)

1.0

0.9916666666666667

In [15]:
model = RandomForestClassifier(n_estimators=80)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=80)

In [16]:
print(model.score(x_test, y_test))
model.score(x_train, y_train)

1.0

1.0